<?xml version="1.0"?>
<launch>
  <!--  -->
  <node name="baseTF" 
	      pkg="navigationturt" 
	      type="static_referencer.py" 
	      respawn="false" 
	      output="screen" 
        args="">
      <param name="~child_frame_id" value="base_link"/>
      <param name="~frame_id" value="base_footprint"/>
      <param name="~translation_z" value=".01"/>
      <param name="~is_static" value="true"/>
  </node>
  <!--  -->
  <node name="lWheelTF" 
	      pkg="navigationturt" 
	      type="static_referencer.py" 
	      respawn="false" 
	      output="screen" 
        args="">
      <param name="~child_frame_id" value="wheel_left_link"/>
      <param name="~frame_id" value="base_link"/>
      <param name="~translation_y" value="0.08"/>
      <param name="~translation_z" value="0.023"/>
      <param name="~rotation_r" value="-1.5707"/>
      <param name="~is_static" value="true"/>
  </node>
  <!--   -->
  <node name="rWheelTF" 
	      pkg="navigationturt" 
	      type="static_referencer.py" 
	      respawn="false" 
	      output="screen" 
        args="">
      <param name="~child_frame_id" value="wheel_right_link"/>
      <param name="~frame_id" value="base_link"/>
      <param name="~translation_y" value="-0.08"/>
      <param name="~translation_z" value="0.023"/>
      <param name="~rotation_r" value="-1.5707"/>
      <param name="~is_static" value="true"/>
  </node>
  <!--  -->
  <node name="casterTF" 
	      pkg="navigationturt" 
	      type="static_referencer.py" 
	      respawn="false" 
	      output="screen" 
        args="">
      <param name="~child_frame_id" value="caster_back_link"/>
      <param name="~frame_id" value="base_link"/>
      <param name="~translation_x" value="-0.081"/>
      <param name="~translation_z" value="0.068"/>
      <param name="~rotation_r" value="-1.5707"/>
      <param name="~is_static" value="true"/>
  </node>
  <!--  -->
  <node name="imuTF" 
	      pkg="navigationturt" 
	      type="static_referencer.py" 
	      respawn="false" 
	      output="screen" 
        args="">
      <param name="~child_frame_id" value="imu_link"/>
      <param name="~frame_id" value="base_link"/>
      <param name="~translation_x" value="-0.032"/>
      <param name="~translation_z" value="0.068"/>
      <param name="~is_static" value="true"/>
  </node>
  <!--  -->
  <node name="scanTF" 
	      pkg="navigationturt" 
	      type="static_referencer.py" 
	      respawn="false" 
	      output="screen" 
        args="">
      <param name="~child_frame_id" value="scan_link"/>
      <param name="~frame_id" value="base_link"/>
      <param name="~translation_x" value="-0.032"/>
      <param name="~translation_z" value="0.172"/>
      <param name="~is_static" value="true"/>
  </node>
  <!-- -->
</launch>
